[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mbr"]
	path = mbr
	url = https://github.com/critical-infrastructure-systems-lab/mbr
[submodule "reservoir"]
	path = reservoir
	url = https://github.com/critical-infrastructure-systems-lab/reservoir
